@import './base.css';

/* html {
  scroll-behavior: smooth !important;
} */

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Section styles without transition (handled by JS) */
section {  
  /* scroll-behavior: smooth !important; */
  height: 100vh;
  width: 100%;
}